In [2]:
import numpy as np
import pandas as pd

# Data Initialization

In [ ]:
athletes = pd.read_excel("tokyo_datasets/athlete_tokyo.xlsx")

# Medal Break down per country

In [133]:
# Using Pivot tables to assign each country and sport medals won 
athletes['medal'] = athletes['medal'].fillna("NONE") # Remove na
athletes['medal_1'] = athletes["medal"]
table_1 = pd.pivot_table(athletes, values='medal_1', index=['country_name','sport'], columns="medal", aggfunc='count')
table_1.drop("NONE", axis=1, inplace=True)
table_1.fillna(0, inplace=True)
# Calculation total medals
table_1["BRONZE"] = table_1['BRONZE'].astype(int)
table_1["GOLD"] = table_1["GOLD"].astype(int)
table_1["SILVER"] = table_1["SILVER"].astype(int)
table_1["TOTAL"] = table_1["BRONZE"]+table_1["GOLD"]+table_1["SILVER"]
table_1

medal                      BRONZE  GOLD  SILVER  TOTAL
country_name   sport
Algeria        Rowing           0     0       0      0
American Samoa Sailing          0     0       0      0
Angola         Handball         0     0       0      0
               Sailing          0     0       0      0
Argentina      Basketball       0     0       0      0
...                           ...   ...     ...    ...
Venezuela      Rowing           0     0       0      0
               Volleyball       0     0       0      0
Vietnam        Archery          0     0       0      0
               Rowing           0     0       0      0
Zambia         Football         0     0       0      0

[609 rows x 4 columns]

In [134]:
table_1.to_csv("tokyo_datasets/team_tokyo_table_sport.csv")

# Total Medals Per Country

In [ ]:
athletes["medal"] = athletes["medal"].replace("GOLD", 1)
athletes["medal"] = athletes["medal"].replace("SILVER", 2)
athletes["medal"] = athletes["medal"].replace("BRONZE", 3)
table = pd.pivot_table(athletes, values='medal', index=['sport','event'], columns='country_name')
table

In [87]:
table.to_csv("tokyo_datasets/athlete_tokyo_table.csv")

In [85]:
table.count()

country_name
Armenia                      4
Australia                   25
Austria                      7
Azerbaijan                   7
Bahamas                      2
                            ..
Uganda                       3
Ukraine                     15
United States of America    74
Uzbekistan                   5
Venezuela                    4
Length: 90, dtype: int64

# Divide Dateset Based on Gender

In [123]:
# Crates a gender column
athletes['gender'] = athletes['event'].apply(lambda x: 'woman' if 'women' in x.lower() else 'man')
athletes

,sport,event,medal,rank,country_name,country_code,athlete_full_name,gender
0,Shooting,50m Rifle 3 Positions women,NaN,19,People's Republic of China,CHN,Dongqi CHEN,woman
1,Shooting,50m Rifle 3 Positions women,NaN,5,United States of America,USA,Sagen MADDALENA,woman
2,Shooting,50m Rifle 3 Positions women,NaN,17,Belarus,BLR,Maria MARTYNOVA,woman
3,Shooting,50m Rifle 3 Positions women,BRONZE,3,ROC,ROC,Yulia KARIMOVA,woman
4,Shooting,50m Rifle 3 Positions women,NaN,18,Islamic Republic of Iran,IRI,Najmeh KHEDMATI,woman
...,...,...,...,...,...,...,...,...
5622,Rhythmic Gymnastics,Individual All-Around,NaN,9,Ukraine,UKR,Khrystyna POHRANYCHNA,man
5623,Rhythmic Gymnastics,Individual All-Around,NaN,4,ROC,ROC,Arina AVERINA,man
5624,Rhythmic Gymnastics,Individual All-Around,NaN,7,Israel,ISR,Nicol ZELIKMAN,man
5625,Rhythmic Gymnastics,Individual All-Around,NaN,8,Belarus,BLR,Anastasiia SALOS,man
5626,Rhythmic Gymnastics,Individual All-Around,NaN,6,Italy,ITA,Milena BALDASSARRI,man

In [105]:
# Filter rows where the string contains 'man' as a whole word
df_man = athletes[athletes['event'].str.contains(r'\bMen\b', regex=True)]

# Filter rows where the string contains 'woman' as a whole word
df_woman = athletes[athletes['event'].str.contains(r'\bWomen\b', regex=True)]

In [111]:
df_woman.to_csv("tokyo_datasets/athlete_tokyo_women.csv", index=False)
df_man.to_csv("tokyo_datasets/athlete_tokyo_men.csv", index=False)

# Gender ratios

Groups the dataset by gender and other feature to see the ratio

In [121]:
gender_counts = athletes.groupby(['sport', 'gender']).size().unstack(fill_value=0)
gender_ratio = gender_counts.div(gender_counts.sum(axis=1), axis=0)
gender_ratio.to_csv("tokyo_datasets/athlete_tokyo_gender_ratio.csv")
gender_counts.to_csv("tokyo_datasets/athlete_tokyo_gender_counts.csv")

In [126]:
gender_counts = athletes.groupby(['country_name', 'gender']).size().unstack(fill_value=0)
gender_ratio = gender_counts.div(gender_counts.sum(axis=1), axis=0)
gender_ratio.to_csv("tokyo_datasets/athlete_tokyo_gender_ratio_country.csv")
gender_counts.to_csv("tokyo_datasets/athlete_tokyo_gender_counts_country.csv")

# Top 15 athletes

In [130]:
top_athletes_per_sport = athletes.sort_values(by=['sport', 'rank']).groupby('sport').head(15)
top_athletes_per_sport.to_csv("tokyo_datasets/team_tokyo_top_15.csv")
top_athletes_per_sport

,sport,event,medal,athletes,rank,country_name,country_code,value_unit,value_type,gender
1140,3x3 Basketball,Men,GOLD,NaN,1,Latvia,LAT,NaN,NaN,man
1148,3x3 Basketball,Women,GOLD,NaN,1,United States of America,USA,NaN,NaN,woman
1141,3x3 Basketball,Men,SILVER,NaN,2,ROC,ROC,NaN,NaN,man
1149,3x3 Basketball,Women,SILVER,NaN,2,ROC,ROC,NaN,NaN,woman
1142,3x3 Basketball,Men,BRONZE,NaN,3,Serbia,SRB,NaN,NaN,man
...,...,...,...,...,...,...,...,...,...,...
572,Water Polo,Men,NaN,NaN,6,United States of America,USA,NaN,NaN,man
584,Water Polo,Women,NaN,NaN,6,Netherlands,NED,NaN,NaN,woman
573,Water Polo,Men,NaN,NaN,7,Italy,ITA,NaN,NaN,man
585,Water Polo,Women,NaN,NaN,7,Canada,CAN,NaN,NaN,woman
574,Water Polo,Men,NaN,NaN,8,Montenegro,MNE,NaN,NaN,man